div{

	&.human,&.machine{
		h2{
			color:$anchor
		}
		ul{
			li{
				i{
					padding: 80px;
					.icon{
						fill:$fill-white;
					}
				}
			}
		}

	} 
}

.controlls{
	h1{
		color:$anchor;
		&.error{
			color:$red;
		}
	}
	fieldset.buttons{
		ul{
			li{
				@include transition(all 0.35s linear);
				position: relative;
				padding-top: 28%;
				margin-bottom: 20px;
				
				@include manualBreakpoint(tabletPortrait) {
					padding-top: 48%;
				} 

				&:hover{
					background:$grey2;
				}
				.score{
					display: none;
				}
				label,.score{
						position: absolute;
						top:10%;
						bottom:0;
						width: 100%;
						text-transform: uppercase;
					}
					a{
						padding: 10px 0px 40px 0;
						text-align: center;
						font-size: $text-3;
						color: $anchor;
						overflow: hidden;
				    position: absolute;
				    text-overflow: clip;
				    top: 76%;
				    width: 100%;
				    text-transform: uppercase;
					}
					button{
						position: absolute;
						top:0;
						height: 100%;
						border:0; 
						background: transparent;
					}
					label{
						&.win{
							.icon{
								fill:$green;
							}	
						}
						&.lose{
							.icon{
								fill:red;
							}
						}
						.icon{
							width: 100%;
							fill:$fill-white; 
						 	background-color: transparent; 
						 }
					}
					
					.score{
						position: absolute;
						top:0;
						height: 100%;
						border:0; 
						&.win{
							color:$green 
						}
						&.lose{
							color:$red;
						}		
					} 
				
			}
		}
	}

	.options{
		.reset{
			display: none;
			text-align: center;
	    margin  : 0px auto;
	    text-indent : 0;
	    @include transform (translate(-50%, -50%));
		  left: 50%;
	    top: 0%;
	    position: absolute;
		}
		legend{
			color:$anchor;
		}
		section{
			.wrapper{
    		display: table;
				margin:auto;
				>fieldset,
				>i{
					float:left;
					margin:auto;
			    vertical-align: top; 
				}
			}
			.icon{
				width: 110px;
				fill:$green;
			}
		}
	}
}