<div class="clearfix">
	<div class=" xs-block xs-mx-auto">

		<div class="referee xs-block xs-mx-auto xs-col-4">
			<a class="btn secondary play xs-block xs-mx-auto">
				<span class="result"></span>
				<span class="simulate">"Let's play"</span>
			</a>
		</div>

 


		<article class="controlls xs-block xs-mx-auto">
			
			<fieldset class="buttons xs-col-8 xs-block xs-mx-auto xs-mt6">


				<ul class="col xs-col-12">
					<li class="col xs-col-4">
						<button class="button clickable rock col xs-col-12" id="rock"></button>
						<label class="xs-mt2 sm-mt0 md-mt0" for="rock">Rock</label>
						<i class="score left rock xs-mt2 sm-mt0 md-mt0"  id="rock_left"><span>Rock</span></i>
						<i class="score right rock xs-mt2 sm-mt0 md-mt0"  id="rock_right"><span>Rock</span></i>
					</li>


					<li class="col xs-col-4">
						<button  class="button clickable paper col xs-col-12" id="paper"></button>
						<label class="xs-mt2 sm-mt0 md-mt0" for="paper">Paper</label>
						<i class="score right paper xs-mt2 sm-mt0 md-mt0" id="paper_right"><span>Paper</span></i>
						<i class="score left paper xs-mt2 sm-mt0 md-mt0 " id="paper_left"><span>Paper</span></i>
					</li>


					<li class="col xs-col-4">
						<button  class="button clickable scissors col xs-col-12" id="scissors"></button>
						<label class="xs-mt2 sm-mt0 md-mt0" for="scissors">Scissor</label>
						<i class="score right scissors xs-mt2 sm-mt0 md-mt0" id="scissors_right"><span>Scissor</span></i>
						<i class="score left scissors xs-mt2 sm-mt0 md-mt0 " id="scissors_left"><span>Scissor</span></i>
					</li>


				</ul>




			</fieldset>

			<div class="options col xs-col-12">

				<button class="btn tertiary reset xs-mb2 xs-mt2 xs-mx-auto">
						<svg class="icon">
							<use xlink:href="#shape-reset"/>
						</svg>
						Reset game</button>
				
				<legend class="xs-col-8 xs-text-center xs-block xs-mx-auto xs-pb2 xs-pt2">Witness two computers battle it out</legend>

				<section class="col xs-col-12">
					<div class="xs-col-6">
					<i class="xs-col-2">
						<svg class="icon">
							<use xlink:href="#shape-noun_469519_cc"/>
						</svg>
					</i>

						<fieldset class="xs-col-2">
							<button class="btn primary bolt xs-block xs-mx-auto" id="computervcomputer"><span>COMPUTER BATTLE</span></button>
						</fieldset>

					<i class="xs-col-2">
						<svg class="icon">
							<use xlink:href="#shape-noun_470824_cc"/>
						</svg>
					</i>
					</div>
				</section>
				
				
			</div>
		</article>
	<div>
<div>